
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

body{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: #e4ecff;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.heading {  
   text-align: center;
  }

  .heading h1{
    color: #000;
  font-family: Inter;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
  }

  .heading p {
    color: #505050;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 60px;
}


 
.middle
{
    display: flex;
    justify-content: space-between;
}

.right
{
  width: 500px;
}

 
.button_div
{
  margin-top: 2rem;
  gap: 10px;
}
 

  input[type="date"]{
    background: #F4F9FF;
    border: 2px solid #DEDEDE;
    padding: 20px;
    font-family: "Roboto Mono",monospace;
    color: #000000;
    font-size: 18px;
    width: 230px;
    /* border: none; */
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
 
.button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}
 
.button:hover:after {
  opacity: .5;
}
 
.button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}
 
.button:active:after {
  opacity: 1;
}
 
@media (min-width: 768px) {
  .button {
    padding: 14px 22px;
    width: 176px;
  }
}


.left
{
    width: 500px;
    background-color:#EEF1F6; 
     
}

.left p {
  color: #5E5AF9;
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0 15px;
  margin-bottom: 5rem;
  
}
 
.Container_middle_para
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container_middle_para h3{
  color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5rem;
margin-bottom: 15px;
}
 

